@font-face {
  font-family: DejaVUSerif;
  src: url("dejavuserif-webfont.6fcc05f6.0308a08b.ttf") format("truetype"), url("dejavuserif-webfont.0cd7cb72.30b7b4c2.woff") format("woff"), url("dejavuserif-webfont.7bcf3640.14f782d4.eot"), url("dejavuserif-webfont.7bcf3640.14f782d4.eot#iefix") format("embeded-opentype");
}

* {
  box-sizing: border-box;
}

html {
  border: 2px solid #fff;
  min-height: 100%;
  padding: 5px;
}

body {
  background-color: #193f41;
  min-height: 100%;
  margin: 0;
}

.xButtonCont {
  text-align: right;
  margin: 50px 50px 10px 0;
}

.twitt {
  margin: 4%;
}

.twittText {
  resize: vertical;
  color: #fff;
  background-color: #193f41;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  min-height: 400px;
  padding: 6px;
  font-family: Chalky;
  font-size: 2.5em;
}

.twtButton {
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 85px;
  height: 45px;
  font-family: Helvetica;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.9em;
  display: inline-block;
}

.img {
  display: inline-block;
}

.user {
  text-align: center;
  float: right;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 2px;
  margin-top: 5%;
  margin-right: 10%;
  padding: 8px 10px 10px;
  font-family: Helvetica;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1em;
  display: inline-block;
}

.warning {
  background-color: #ffad00a3;
  width: auto;
  margin: 20% 60% 0 0;
}

.showQuote {
  padding: 0 5px;
  font-size: 3em;
}

.showAuthor {
  font-size: 2.2em;
}

.quoteCont {
  text-align: center;
  color: #fff;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  font-family: Chalky;
  display: inline-block;
}

.owletCont {
  display: inline-block;
  position: relative;
  top: 20px;
  right: -15%;
}

.quoteClick {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;

  &, & :hover {
    cursor: pointer;
  }
}

.xButton {
  background: url("X_logo_and_marks.37d29922.397fe51f.svg") 0 -42px / 106px 150px no-repeat;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  display: inline-block;

  &, & :hover {
    cursor: pointer;
  }
}

.boxShadow {
  transition: box-shadow .3s;
  box-shadow: 0 0 2px #0003, 0 2px 5px #00000030;
}

.logoOnClick {
  background: url("X_logo_and_marks.37d29922.397fe51f.svg") -2px -43px / 103px 145px no-repeat;
  border: 2px solid #193f41;
  width: 53px;
  height: 53px;
  box-shadow: 0 1px 10px 1px #fff3, 0 2px 6px #00000030;
}

.btnOnClick {
  border: 1px solid #193f41;
  width: 84px;
  height: 44px;
  box-shadow: 0 1px 10px 1px #fff3, 0 2px 6px #00000030;
}

.quoteClickRadiate ~ .quoteSign {
  text-shadow: 0 2px 25px #fff;
  transition-delay: 0s;
}

.quoteSign {
  text-shadow: 0 2px 10px #fff;
  font-family: DejaVu, DejaVUSerif, serif;
  font-size: 6.3em;
  transition: text-shadow 1s;
  display: inline-block;
}

.left {
  transform-origin: top;
  -webkit-transform: skewY(35deg);
  -ms-transform: skewY(35deg);
  line-height: 2em;
  position: absolute;
  top: 30px;
  left: -15px;
  transform: rotateY(-1deg)skewY(35deg);
}

.lwAnimation {
  animation: 8s cubic-bezier(.61, -.3, .71, .71) forwards leftWingFlap, .7s cubic-bezier(.61, -.3, .71, .71) 7.5s forwards tuckWing, 1.7s cubic-bezier(.61, -.3, .71, .71) 8.1s forwards wingRadiate;
}

@keyframes leftWingFlap {
  10% {
    left: -33px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  15% {
    transform: skewY(35deg);
  }

  20% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  25% {
    transform: skewY(35deg);
  }

  33% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  93% {
    transform: skewY(35deg);
  }

  96% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }
}

@-webkit-keyframes leftWingFlap {
  10% {
    left: -34px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  15% {
    transform: skewY(35deg);
  }

  20% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  25% {
    transform: skewY(35deg);
  }

  33% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  93% {
    transform: skewY(35deg);
  }

  96% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }
}

@-moz-keyframes leftWingFlap {
  10% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  15% {
    transform: skewY(35deg);
  }

  20% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  25% {
    transform: skewY(35deg);
  }

  33% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  93% {
    transform: skewY(35deg);
  }

  96% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }
}

@-o-keyframes leftWingFlap {
  10% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  15% {
    transform: skewY(35deg);
  }

  20% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  25% {
    transform: skewY(35deg);
  }

  33% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  93% {
    transform: skewY(35deg);
  }

  96% {
    left: -32px;
    transform: skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }
}

.right {
  transform-origin: top;
  line-height: 2em;
  position: absolute;
  top: 30px;
  right: -17px;
  transform: rotateY(-180deg)skewY(35deg);
}

.rwAnimation {
  animation: 8s cubic-bezier(.61, -.3, .71, .71) forwards rightWingFlap, .9s cubic-bezier(.61, -.3, .71, .71) 7.5s forwards tuckWing, 1.7s cubic-bezier(.61, -.3, .71, .71) 8.1s forwards wingRadiate;
  -moz-animation: 8s cubic-bezier(.61, -.3, .71, .71) forwards rightWingFlapMoz, .9s cubic-bezier(.61, -.3, .71, .71) 7.5s forwards tuckWing, 1.7s cubic-bezier(.61, -.3, .71, .71) 8.1s forwards wingRadiate;
  -o-animation: 8s cubic-bezier(.61, -.3, .71, .71) forwards rightWingFlap, .9s cubic-bezier(.61, -.3, .71, .71) 7.5s forwards tuckWing, 1.7s cubic-bezier(.61, -.3, .71, .71) 8.1s forwards wingRadiate;
}

@keyframes rightWingFlap {
  10% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }

  15% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  20% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }

  25% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  33% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }

  93% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  96% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }
}

@-webkit-keyframes rightWingFlap {
  10% {
    right: -32px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }

  15% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  20% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }

  25% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  33% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }

  93% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  96% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(110deg)rotateZ(10deg);
  }
}

@-moz-keyframes rightWingFlapMoz {
  10% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  15% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  20% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  25% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  33% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  93% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  96% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }
}

@-o-keyframes rightWingFlap {
  10% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  15% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  20% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  25% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  33% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }

  93% {
    transform: rotateY(-180deg)skewY(35deg);
  }

  96% {
    right: -30px;
    transform: rotateY(-180deg)skewY(20deg)skewX(40deg)translateY(10px)rotateX(-110deg)rotateZ(10deg);
  }
}

@keyframes tuckWing {
  100% {
    line-height: 1.3em;
  }
}

@keyframes pageGlide {
  0% {
    transform: translate(-40px, 150px)scale(.7);
  }
}

@keyframes wingRadiate {
  25% {
    text-shadow: 0 2px 25px #fff;
  }

  50% {
    text-shadow: 0 0 10px #fff;
  }

  75% {
    text-shadow: 0 2px 25px #fff;
  }
}

.owletCont {
  animation: 8.1s cubic-bezier(.61, -.3, .71, .71) pageGlide;
}

.owletContRedir {
  display: inline-block;
  position: relative;
  top: 20px;
  right: -15%;
}

.wingsRedir {
  line-height: 1.3em;
}

.tweetEpilog {
  height: 55px;
  display: inline-block;
}

.tweetOk {
  animation: 1.6s cubic-bezier(.61, -.3, .71, .71) 2 alternate forwards tweetOk;
}

@keyframes tweetOk {
  10% {
    opacity: 0;
    background: url("X_logo_and_marks.37d29922.397fe51f.svg") -22px -17px / 42px 60px no-repeat;
    width: 30px;
    height: 30px;
  }

  25%, 100% {
    width: 60px;
    height: 60px;
    box-shadow: none;
    opacity: 1;
    background: #eee url("X_logo_and_marks.37d29922.397fe51f.svg") -57px -39px / 106px 150px no-repeat;
  }
}

.tweetFailed {
  animation: 1.6s cubic-bezier(.61, -.3, .71, .71) 2 alternate forwards tweetFailed;
}

@keyframes tweetFailed {
  10% {
    opacity: 0;
    background: url("X_logo_and_marks.37d29922.397fe51f.svg") -12px -41px / 42px 60px no-repeat;
    width: 30px;
    height: 30px;
  }

  25%, 100% {
    width: 60px;
    height: 60px;
    box-shadow: none;
    opacity: 1;
    background: #eee url("X_logo_and_marks.37d29922.397fe51f.svg") -27px -98px / 106px 150px no-repeat;
  }
}

@media (width <= 569px) {
  .quoteCont {
    width: 85%;
    margin-left: 7.5%;
  }

  .owletCont, .owletContRedir {
    transform: scale(.9);
  }

  .showQuote {
    font-size: 2.4em;
  }

  .showAuthor {
    font-size: 1.8em;
  }
}

@media screen and (width >= 1024px) and (height >= 768px) {
  .user {
    margin-top: 3%;
  }

  .quoteCont {
    margin-top: 10%;
  }
}
/*# sourceMappingURL=index.f5a1053a.css.map */
